
.container-notfound{
    height: 100vh;
    position: relative;
    width: 100%;
    text-align: center;
}
.contain-notfound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.image-notfound {
    width: 428px;
    border-radius: 25%;
}
.text-notfound {
    font-size: 34px;
    user-select: none;
}